body {-webkit-animation: pulse 50s infinite;animation: pulse 30s ininite;}
@webkit-keyframes pulse {
	0% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(6).jpg")}
	25% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(2).jpg")}
	50% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(3).jpg")}
	75% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(5).jpg")}
	100% {background-image: url("http://userpages.umbc.edu/~yt21579/New/19062051.jpg")}
}

 @keyframes pulse {
	 0% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(6).jpg")}
	25% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(2).jpg")}
	50% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(3).jpg")}
	75% {background-image: url("http://userpages.umbc.edu/~yt21579/EX4/download%20(5).jpg" )}
	100% {background-image: url("http://userpages.umbc.edu/~yt21579/New/19062051.jpg")}
 }



p.nis {
position: absolute;
top: 150px;
color: white;
 left: 30px;	
Font-size : 19px;
}

h1 {
	width:250px;
	height:10px;
	display:none;
	background-color:black ;
    color: white;
    margin-left: 440px;
}
h2 {
    color: white;
    margin-left: 220px;
	width:900px;
	height:10px;
	display:none;
	
}

h3 {
    color: white;
	margin-top: 230px;
    margin-left: 500px;
}
img {
    position: absolute;
    left: 1130px;
    top: 90px;
   width: 210px;
   height: 228px
}

p.nis1 {
position: absolute;
top: 600px;
color: red;
 left: 20px;	
Font-size : 19px;
}

p.nis2 {
position: relative ;
top: 30px;
color: red;
 left: 20px;	
Font-size : 19px;
}
table, th, td {
	margin-top: 420 px;
    border: 1px solid red;
    border-collapse: collapse;
	margin-left: 20px;
	margin-right: 20px;
	color: White;
}
th, td {
    padding: 16px;
}

ol.a {
    overflow: hidden;
    color: white;
	margin-left: 20px;
	margin-top: 200px;
}
li.a {
    color: white;
}



ol.b {
  
    color: white;
	margin-left: 20px;
	margin-top: 50px;
}
li
 {
    color: white;
}

div {
	color: white;
	Font-size : 17px;
	top: 1500px ;
	margin-left: 20px;
}
ul.c{
    margin: 0;
    padding: 0;
    overflow: hidden;
	margin-left: 20px;
	margin-top: 10px ;
	Font-size : 18px;
	color: black ;
	
	
}
    

li d {

	
	float: bottom;
	
	
}

li d {
    display: block;
    color: red;
    text-align: center;
    padding: 15px ;
}

li d:hover {
    background-color: blue;
}

p.nis3 {
position:relative;
top: 20px;

color: red;
 left: 20px;	
Font-size : 19px;
}



#hide{
	background-color: blue; 
    border: none;
    color: white;
    padding: 30px 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 500px;
    cursor: pointer;
	float: center ;
	font-size: 14px;
	border-radius: 25px;
	background-image: url("http://userpages.umbc.edu/~yt21579/HW10/contactme_1.png");
}

#div1 { 
width:90px;
height:90px;
display:none;
background-color:red;
}
